In [9]:
#a function is a block of code which only runs when it is
#functions help in organizing code,reusing code

In [10]:
def my_function():
    print("hello from a function")

In [15]:
#calling function
def my_function():
    print("hello from a function")

In [16]:
my_function()

hello from a function

In [17]:
#arguments
#information can be passed into function as arguments.
#argument are specified after the function name, inside the parentheses
def my_function(fname):
    print(fname + " trump")

In [18]:
my_function("donald")

donald trump

In [19]:
my_function("melliana")

melliana trump

In [21]:
#parameters or arguments
#a parameter is the variable listed inside the parameter in the function defination
#argument is  the value that is sent to the function when it is called

In [1]:
#syntax with return statement
def function_name(parameters):
    #function body
    return expression

df even_odd(num):
if num%2==0:
    print("the number is even")
else:
    print("the number is odd")
    #call this function
    even_odd(24)

SyntaxError: invalid syntax (2795066313.py, line 6)

In [23]:
#function with multiple parameter
def add(a,b):
    return a+b
add(2,4)

6

In [25]:
#function can return multiple values
def add(a,b):
    return a+b,a
add(2,4)

(6, 2)

In [ ]:
#write a function to swap two number without using third value  (completed class)