In [10]:
#breAK STATEMENT
i=1
while(i<10):
 print(i)
 if i==3:
    break
 i=i+1

1
2
3

In [2]:
#continue statement
i=0 
while(i<10):
 i=i+1
 if(i==3):
    continue
 print(i)

1
2
4
5
6
7
8
9
10

In [1]:
#22 oct

In [3]:
# a for loop is used for iterating over a sequence(that is either a list,a tuple , a dict or a string)

In [5]:
l1=["A","B","C","D"]
for x in l1:
    print(x)

A
B
C
D

In [6]:
for x in "AAFT":
    print(x)

A
A
F
T

In [7]:
# break statement
# exit the loop when x is "B":
l1=["A","B","C","D"]
for x in l1:
    print(x)
    if x=="B":
        break

A
B

In [29]:
# exit the loop when x is "B",but this time the break comes
#before the print:
l1=["A","B","C","D"]
for x in l1:
    if x =="B":
        exit
        print(x)

B

In [22]:
#continue statement
l1=["A","B","C","D"]
for x in l1:
    if x =="B":
     continue
    print(x)

A
C
D

In [10]:
#range() function
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [11]:
for x in range(2,30,3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [12]:
for x in range(2,6):
    print(x)

2
3
4
5

In [13]:
#nested for loop
l2=[1,2,3]
l3=["google","meta","fujitisu"]
for x in l2:
    for y in l3:
        print(x,y)

1 google
1 meta
1 fujitisu
2 google
2 meta
2 fujitisu
3 google
3 meta
3 fujitisu

In [17]:
#PASS STATEMENT:FOR LOOPS CANNOT BE EMPTY,
#BUT IF YOU FOR SOME REASON HAVE A FOR LOOP WITH NO CONTENT,
#PUT IN THE PASS STATEMENT TO AVOID GETTING AN ERROR.
for x in[0,1,2]:
  pass

In [32]:
i=10
while i > 0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [31]:
i=100
while i > 0:
    print(i)
    i=i-10

100
90
80
70
60
50
40
30
20
10