In [1]:
#pandas(panel data) is a high_level data manipulation tools used for analysing data.
#it is very easy to import and export data using pandas loibrary which has avery rich set of functions.
#it built on packages like numpy and matplotlib and gives us a single,convient place to do most of our data analysis and visualization work.
#pandas has three importanat data structures-series,dataframes and panel to make the process of analysisng data organised ,efficient and effictive.

In [2]:

pip install pandas

Requirement already satisfied: pandas in c:\users\harshita\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\harshita\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\harshita\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\harshita\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\harshita\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\harshita\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
#data structure in pandas
#series
#dataframe

In [4]:
#series
#a series is a one-deminsional array containijng a sequence of valuesof an data type(int,float,list,string,etc)which by default have numeric data labels starting from zero.

In [5]:
#example of a series containing names of students is given below:
Index Value

SyntaxError: invalid syntax (3663818314.py, line 2)

In [6]:
#creation of series
import pandas as pd #import pandas with alias pd 
series1 =pd.Series([10,20,30])#create a series
print(series1)#display the series

0    10
1    20
2    30
dtype: int64

In [7]:
#example had anumeric index in random order.
series2=pd.Series(["kavi","shyam","ravi"],index=[3,5,1])
print(series2)

3     kavi
5    shyam
1     ravi
dtype: object

In [8]:
#creation of series from numpy arrays
#series from a one -diminsional (1d) numpy array:
import numpy as np #import numpy with alias np
import pandas as pd
array1=np.array([1,2,3,4])
series3=pd.Series(array1)
print(series3)

0    1
1    2
2    3
3    4
dtype: int32

In [9]:
#we can use letters or string as indices:
series4=pd.Series(array1,index=["jan","feb","mar","apr"])
print(series4)

jan    1
feb    2
mar    3
apr    4
dtype: int32

In [10]:
#creation of series from dictionary
dict1={'India':'Newdelhi','Uk':
 'London','Japan':'Tokyo'}
print(dict1) #display the dictionary
{'India':'Newdelhi','Uk':'London','Japan':
'Tokyo'}

{'India': 'Newdelhi', 'Uk': 'London', 'Japan': 'Tokyo'}

{'India': 'Newdelhi', 'Uk': 'London', 'Japan': 'Tokyo'}

In [11]:
series8=pd.Series(dict1)
print(series8)

India    Newdelhi
Uk         London
Japan       Tokyo
dtype: object

In [12]:
#accessing element of a series
import pandas as pd
seriesNum = pd.Series([10,20,30])
seriesNum

0    10
1    20
2    30
dtype: int64

In [13]:
seriesMnths = pd.Series([2,3,4],index=["feb","mar","apr"])
seriesMnths["mar"]

3

In [14]:
seriesNum[2]

30

In [18]:
#slicing
seriesCapCntry=pd.Series(['NewDelhi','washingtondc','london','paris'], index=['India''usa','uk','france'])
seriesCapCntry

ValueError: Length of values (4) does not match length of index (3)

In [19]:
seriesCapCntry[1:3]

NameError: name 'seriesCapCntry' is not defined

In [20]:
#method  of series
import numpy as np
seriesTenTwenty=pd.Series(np.arange(10,20,1))
print(seriesTenTwenty)

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int32

In [21]:
seriesTenTwenty.head(2)

0    10
1    11
dtype: int32

In [22]:
seriesTenTwenty.count()

10

In [23]:
seriesTenTwenty.tail(2)

8    18
9    19
dtype: int32

In [24]:
#mathmatical operations on series
seriesA = pd.Series([1,2,3,4,5], index =['a','b','c','d','e'])
seriesA

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [25]:
seriesB =pd.Series([10,20,-10,-50,100],
index = ['z','y','a','c','e'])
seriesB

z     10
y     20
a    -10
c    -50
e    100
dtype: int64

In [26]:
#that the output of addition is NaN if one of the element or both elements have no value
seriesA+seriesB

a     -9.0
b      NaN
c    -47.0
d      NaN
e    105.0
y      NaN
z      NaN
dtype: float64

In [27]:
#subtraction of two series
seriesA - seriesB

a    11.0
b     NaN
c    53.0
d     NaN
e   -95.0
y     NaN
z     NaN
dtype: float64

In [29]:
#multiplication of two series
seriesA*seriesB

a    -10.0
b      NaN
c   -150.0
d      NaN
e    500.0
y      NaN
z      NaN
dtype: float64

In [30]:
#division of two series
seriesA/seriesB

a   -0.10
b     NaN
c   -0.06
d     NaN
e    0.05
y     NaN
z     NaN
dtype: float64

In [35]:
#DATAFRAME
#a dataframe is two-dimensional labelled data structure like a table of MYSQL.it contains rows and columns,and therefore has both a row and column index.each column can have a different type of value such as numeric,string,boolean,etc., as in tables of a data base.

In [38]:
#creation of dataframe
#creation of dataframe from numpy ndarrays
import numpy as np
array1 = np.array([10,20,30])
array2 = np.array([100,200,300])
array3 = np.array([-10,-20,-30,-40])
dFrame4 = pd.DataFrame(array1)
dFrame4

    0
0  10
1  20
2  30

In [40]:
#creation of dataframe from list of dictionaries
listDict =[{'a':10,'b':20},{'a':5,'b':10,'c':20}]
dFramelistDict =pd.DataFrame(listDict)
dFramelistDict

    a   b     c
0  10  20   NaN
1   5  10  20.0

In [42]:
 #creation of dataframe from series
seriesA = pd.Series([1,2,3,4,5],index = ['a', 'b', 'c', 'd', 'e'])
seriesB = pd.Series ([1000,2000,-1000,-5000,1000],index = ['a', 'b', 'c', 'd', 'e'])
seriesC = pd.Series([10,20,-10,-50,100],index = ['z', 'y', 'a', 'c', 'e'])

dFrame6 = pd.DataFrame(seriesA)
dFrame6

   0
a  1
b  2
c  3
d  4
e  5

In [43]:
dFrame7 = pd.DataFrame([seriesA,seriesB])
dFrame7

      a     b     c     d     e
0     1     2     3     4     5
1  1000  2000 -1000 -5000  1000

In [44]:
#creation of Dataframe from dictionary of series
ResultSheet={'Arnab': pd.Series([90, 91, 97],index=['Maths','Science','Hindi']),
'Ramit': pd.Series([92, 81, 96],index=['Maths','Science','Hindi']),
'Sahir': pd.Series([89, 91, 88],index=['Maths','Science','Hindi']),
'Riya': pd.Series([81, 71, 67],index=['Maths','Science','Hindi']),
'Mallika': pd.Series([94, 95, 99],index=['Maths','Science','Hindi'])}
ResultDF = pd.DataFrame(ResultSheet)
ResultDF

         Arnab  Ramit  Sahir  Riya  Mallika
Maths       90     92     89    81       94
Science     91     81     91    71       95
Hindi       97     96     88    67       99

In [45]:
#operations on rows and columns in DataFrames
#Adding a New Column to a DataFrame
ResultDF['Jimmy']=[89,78,76]
ResultDF

         Arnab  Ramit  Sahir  Riya  Mallika  Jimmy
Maths       90     92     89    81       94     89
Science     91     81     91    71       95     78
Hindi       97     96     88    67       99     76

In [49]:
#adding a new row to a dataframe
#dataframe.loc[]method can also be used to change the datavalues of a row to particular value.
ResultDF.loc['English']=[85,86,83,80,90,89,82]
ResultDF

ValueError: cannot set a row with mismatched columns

In [50]:
#deleting  rows or column from adataframe
#delete the row with label'science'
ResultDF=ResultDF.drop('Science',axis=0)
ResultDF

       Arnab  Ramit  Sahir  Riya  Mallika  Jimmy
Maths     90     92     89    81       94     89
Hindi     97     96     88    67       99     76

In [51]:
#delete the column having labels'ramit'and 'riya':
ResultDF=ResultDF.drop(['Ramit','Riya'], axis=1)
ResultDF

       Arnab  Sahir  Mallika  Jimmy
Maths     90     89       94     89
Hindi     97     88       99     76

In [52]:
#renaming row labels of a dataframe
#to rename the row indices maths to sub1,science to sub2,hindi to sub3 and english to sub4 we can write the following statement:
ResultDF=ResultDF.rename({'Maths':'sub1','English':'sub3','Hindi':'sub4'} ,axis='index')
print(ResultDF)

      Arnab  Sahir  Mallika  Jimmy
sub1     90     89       94     89
sub4     97     88       99     76

In [55]:
#accessing dataframe element through indexing
#label based indexing
ResultDF.loc['sub3']

KeyError: 'sub3'

In [56]:
ResultDF.loc['sub1':'sub4']

      Arnab  Sahir  Mallika  Jimmy
sub1     90     89       94     89
sub4     97     88       99     76