In [1]:
# set
set1={1,2,3,4,5}
set2={1,1,1,2,2,3,3,4,5}
print (set2)

{1, 2, 3, 4, 5}

In [2]:
set3={'a','b','c','d'}
print(set3)

{'b', 'd', 'c', 'a'}

In [7]:
set4={'a',1,'b',2,'c',3,True}
print (set4)

{1, 2, 3, 'a', 'b', 'c'}

In [17]:
set1={"apple","banana","cherry"}
set2={1,5,7,9,3}
set3={True,False,False}
print(set1)
print(set2)
print(set3)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [11]:
thisset={"apple","banana","cherry"}
print("banana" in thisset)

True

In [18]:
# add
thisset={"apple","banana","cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'orange', 'banana', 'cherry'}

In [19]:
#update
thisset={"apple","banana","cherry"}
tropical={"pineapple","orange","papaya"}
thisset.update(tropical)
print(thisset)

{'pineapple', 'banana', 'papaya', 'apple', 'orange', 'cherry'}

In [20]:
# update
thisset={"apple","banana","cherry"}
mylist=["kiwi","orange"]
thisset.update(mylist)
print(thisset)

{'kiwi', 'banana', 'apple', 'orange', 'cherry'}

In [21]:
# remove
thisset={"apple","banana","cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [22]:
# discard
thisset={"apple","banana","cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

In [23]:
# Discard
thisset={"apple","banana","cherry"}
thisset.discard("kiwi")
print(thisset)

{'apple', 'banana', 'cherry'}

In [1]:
#p0p()
thisset={"apple","banana","cherry"}
x=thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

In [26]:
#clear
thisset={"apple","banana","cherry"}
thisset.clear()
print(thisset)

set()

In [30]:
#delete
thisset={"kiwi","pineapple","cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [35]:
#join
set1={"a","b","c"}
set={1,2,3}
set=set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [32]:
set1={"a","b","c"}
set2={1,2,3}
set3=set1|set2
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [36]:
#JOINING SET
#UNION
set1={"A","B","C"}
set2={1,2,3}
set3={"john","elena"}
set4={"apple","bnana","cherry"}
myset=set1.union(set2,set3,set4)
print(myset)

{1, 2, 3, 'B', 'john', 'elena', 'C', 'bnana', 'apple', 'A', 'cherry'}

In [37]:
#OPERATOR
set1={"A","B","C"}
set2={1,2,3}
set3={"john","elena"}
set4={"apple","bnana","cherry"}
myset=set1|set2|set3|set4
print(myset)

{1, 2, 3, 'B', 'john', 'elena', 'C', 'bnana', 'apple', 'A', 'cherry'}

In [1]:
# INTERSECTION METHOD
set1={"x","y","z"}
set2={6,7,8,"x"}
set3=set1.intersection(set2)
print (set3)

{'x'}

In [2]:
# & operator
set1={"x","y","z"}
set2={6,7,8,"x"}
set3=set1&set2
print(set3)

{'x'}

In [3]:
# Difference
set1={"x","y","z"}
set2={6,7,8,"x"}
set3=set1.difference(set2)
print(set3)

{'z', 'y'}

In [4]:
set1={"x","y","z"}
set2={6,7,8,"x"}
set3=set2.difference(set1)
print(set3)

{8, 6, 7}

In [5]:
# practice set
setx={'john','smith','bush','clinton'}
set7={6,7,8,9,'smith','bush','obama'}
print(set7)

{'smith', 'bush', 6, 7, 8, 9, 'obama'}

In [8]:
# add method
setx={'john','smith','bush','clinton'}
set7={6,7,8,9,'smith','bush','obama'}
set8=set7.add("orange")
print(set7)

{'smith', 'bush', 'orange', 6, 7, 8, 9, 'obama'}

In [9]:
set8=setx.add("orange")
print(setx)

{'smith', 'bush', 'clinton', 'orange', 'john'}

In [10]:
# remove method
setx={'john','smith','bush','clinton'}
set7={6,7,8,9,'smith','bush','obama'}
set8=set7.remove("obama")
print(set7)

{'smith', 'bush', 6, 7, 8, 9}

In [11]:
set8=setx.remove("john")
print(setx)

{'smith', 'bush', 'clinton'}

In [12]:
# joining method
setx={'john','smith','bush','clinton'}
set7={6,7,8,9,'smith','bush','obama'}
set8=setx.union(set7)
print(set8)

{'smith', 'bush', 6, 7, 8, 9, 'clinton', 'john', 'obama'}

In [13]:
setx={'john','smith','bush','clinton'}
set7={6,7,8,9,'smith','bush','obama'}
set8=setx|set7
print(set8)

{'smith', 'bush', 6, 7, 8, 9, 'clinton', 'john', 'obama'}