print("hello world")

In [1]:
# python does not have a character data type,a single character is simply with alength of 1.
#square brackets can be used to access element of the string.

In [2]:
a='hello world'
print(len(a))

11

In [3]:
b='hello world'
print(b[2:5])

llo

In [4]:
b="hello,world!"
print(b[:5])

hello

In [6]:
b="hello,world!"
print(b[-5:-2])

orl

In [7]:
# modify strings
# python has a set of built-in method that you can use on strings.

In [8]:
a="hello,world!"
print(a.lower())

hello,world!

In [9]:
a="hello,world!"
print(a.upper())

HELLO,WORLD!

In [11]:
a="hello,world!"
print(a.strip()) #return "hello,

hello,world!

In [12]:
# string concatenation
# to concatenate ,or combine ,two strings you can use the +operator

In [13]:
a="hello"
b="world"
c=a+b
print(c)

helloworld

In [16]:
a="hello"
b="world"
c=a+ " "+b
print(c)

hello world

In [17]:
# format-strings

In [18]:
# we cannot combine strings and numbers like this:
age=36
txt="my name is john,i am "+age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [19]:
# we cannot combine strings and numbers by using the format method()
age=36
txt="my name is john,i am {} "
print(txt.format(age))

my name is john,i am 36

In [22]:
# the format method () takes unlimited numbers  of arguments, and are placed into the respective placeholders:
quantity=3
itemno=567
price=49.95
myorder="i want {} pieces of items {} for{} dollars."
print(myorder.format(quantity,itemno,price))

i want 3 pieces of items 567 for49.95 dollars.

In [23]:
#escape character
# to insert characters that are illegal in a string,use  an escape character.
# an escape character is a backlash\followed by the character you want to insert.

In [26]:
# the escape character allows you to use double quotes when you normally would not be allowed:

txt="we are the so-called\"vikings from the north."
print(txt)

we are the so-called"vikings from the north.

In [27]:
#capitalize method

In [28]:
text="hello, and welcome to my world,"
x=txt.capitalize()
print(x)

We are the so-called"vikings from the north.

In [29]:
# title()method

In [30]:
# the first character is converted to upper case, and the rest are converted to lower case:
txt="welcome to my world"
x=txt.title()
print(x)

Welcome To My World

In [31]:
# count() method

In [32]:
# the count() method return the number of times a specified value appears in the string.

In [35]:
txt="i love apples,apple are my favourite fruit"
x=txt.count("apple")
print(x)

2

In [36]:
#string.count (value,start,end)
#search from position 10 to 24

In [37]:
txt="i love apples,apple are my favourite fruit"
x=txt.count("apple",10,24)
print(x)

1

In [38]:
# find method()

In [45]:
# where in the text is the world "welcome"?
txt="hello, welcome to my world"
x=txt.find("welcome")
print(x)

7

In [46]:
# the find()method find the first occurence of the specified value.
# the find() method return-1 if the value is not found.
# the find() method is almost the same  as the index() method, the only difference is that the index() method raises an exception if the value is not found

In [48]:
txt="hello,welcome to my world"
x=txt.find("e")
print(x)

1

In [50]:
# text is the first occurence of the letter "e" when you only search between position 5 and 10?
txt="hello, welcome to my world"
x=txt.find("e",5,10)
print(x)

8

In [51]:
# index method()

In [54]:
txt="hello, welcome to  my world"
x=txt.index("welcome")
print(x)

7

In [55]:
# the index() method find the first occurence of the specified value.
# the index() method raises an exception if the  value is not found.
# the index() method is almost the same as the find() method,the only difference is that the find method returns-1 if the value is not found.

In [56]:
# where in the txt ix the first occurenceof the letter"e"?
txt="hello,welcome to my world"
x=txt.index("e")
print(x)

1

In [57]:
# isalnum() method

In [58]:
# check if all the chqracters in the text are alphanumeric:
# the isalnum () method returns true all the characters are alphanumeric,meaning alphabet letter (a-z) and numbers(0-9).
# example of characters that are not alphanumeric:(space)!#%&?etc.
txt="company12"

x=txt.isalnum()
print(x)

True

In [59]:
#isalpha() method
#isalpha() method returns trueif all the character are alphabet letters (a-z).
#example of characters that are not alphabet letters :(space)!#%&?etc.

In [60]:
#check if all the characters in the txt are letters:
txt="companyx"
print(x)

True

In [61]:
#startswith() method

In [71]:
# check if the string starts with "hello":
txt="hello, welcome to my world."
x=txt.startswith("hello")
print(x)

True

In [63]:
# the startswith() method returns true if the strinng start with the specified value,otherwise false.

In [70]:
txt="hello, welcome to my world."
x=txt.startswith("wel",7,20)
print(x)

True

In [66]:
#endswith method

In [69]:
#check if the string ends with a punctuation sign(.):
txt="hello, welcome to my world."
x=txt.endswith(".")
print(x)

True

In [72]:
#isdigit method

In [73]:
#check if all the characters in the text are digits:
txt="50800"
x=txt.isdigit()
print(x)

True

In [74]:
#islower() method

In [76]:
#check if all the characters in the text are in lower case:
txt="hello world!"
x=txt.islower()
print(x)

True

In [77]:
#isupper () method

In [86]:
#check if all the characters in the text are in upper case:
txt= "This is now!"
x= txt.isupper ()
print(x)

False

In [87]:
#lstrip() method

In [88]:
#remove spaces to the  left of the string:
txt="     banana    "
x=txt.lstrip()
print("of all fruit ",x,"is my favourite")

of all fruit  banana     is my favourite

In [89]:
#rstrip() method
# remove any white spaces at the end of the string
txt="      banana   "
x=txt.rstrip()
print("of all fruits",x,"is my favorite")

of all fruits       banana is my favorite

In [90]:
#strip()method
#the strip() method removes any leading,and trailing whitespaces.
# leading means at the begining of the string,trailing means at the end.
#you can specify which character(s) to remove,if not,any whitespaces will be removed.

In [91]:
#removes spaces at the beginingand at the end of the string:
txt="    banana     "
x=txt.strip()
print("of all fruits",x,"is my favourite ")

of all fruits banana is my favourite

In [92]:
#isspace() method
#the isspace() method return true if all the characters in a string are whitespaces,otherwise false.

In [93]:
#check if all the characters in the text are whitespaces:
txt="    "
x= txt.isspace()
print(x)

True

In [95]:
#join()method
#the join() method takes all items in an iterabl

In [97]:
#join all items in a tuple into a string,using a hash character  as separator:
mytuple=("john","peter","vicky")
x= "#".join(mytuple)
print(x)

john#peter#vicky

In [1]:
# replace()method
#the replace()method replaces a specified phrase with another specified phrase.
#replace the word "bananas":
txt="i like bananas"
x=txt.replace("bananas","apples")
print(x)

i like apples

In [102]:
#partition() method
#the partition()method searches for a specified string, and spilts the string into a tuplecontaining three elements.
#the first element contain the part before the specified string.
#the second element contains the specified string.
#the third element contains the part after string.
#if the specified value is not found,the partition()method returna a tuple containing:1-the whole string,2-an empty string,3-an empty string:
txt="i could eat bananas all day"
x=txt.partition ("apples")
print(x)

('i could eat bananas all day', '', '')

In [103]:
# split method
# the split() method splits a string into a list.
# split a string into a list where each word is a list items:
txt="welcome to the jungle"
x=txt.split()
print(x)

['welcome', 'to', 'the', 'jungle']

In [104]:
#split the string,using comma,followed by a space ,as a separator:
txt="hello,my name is peter,i am 26 years old"
x=txt.split(",")
print(x)

['hello', 'my name is peter', 'i am 26 years old']