In [36]:
#####ASSIGNMENT

In [37]:
#1  python program to find the size of tuple
tuple1 = ("A",1,"B",2,"C",3)
print("size of tuple1:" + str(tuple1._sizeof_())+  "bytes")

AttributeError: 'tuple' object has no attribute '_sizeof_'

In [ ]:
#2 maximum and minimum k elements in tuple.
test_tup =(5,20,3,7,6,8)
#printing originam tuple
print("the original tuple is :"+str(test_tup))
#initalizing k
k=2
#maximum and minimum k elements in tuple
#using sorted()+loop
res=[]
test_tup= list(sorted(test_tupp))
for idx,val in enumerate(test_tup):
    if idx < k or idx >= len(test_tup) -k:
        res.append(val)
     res=tuple(res)
    #printing result
     print("the extracted values:"+str(res))

In [ ]:
#3 create a list of tuples from given list having number and its cube in each tuple

In [ ]:
shr2001=[1,2,3,4,5,6]
my_result=[(val, pow(val,3)) for val in 
shr2001]
print(my_result)

In [ ]:
#4 adding tuple to list and vice-versa

In [ ]:
shr2001=[1,2,3,4,5,6]
shr2002=(7,8)
shr2001 +=shr2002
print(str(shr2001))

In [ ]:
#5 sum  of tuple element

In [ ]:
shr2001=(7,8)
print(sum(shr2001))

In [ ]:
#6 modulo of tuple element

In [ ]:
shr2001=(1,2,3,4)
shr2002=(5,6,7,8)
res=tuple(map(mod, shr2001,shr2002))
print(str(res))

In [ ]:
#7 row-wise element addition in tuple matrix

In [ ]:
shr2001 = [[("nothing",3),("but",3)],
           [("creativity",1)],[("creat",5),("thing",1)]]
shr2002 = [6,7,8]
res = [[sub + (shr2002[idix], ) for sub in val] for idx, val in enumerate(shr2001)]
print(str(res))

In [ ]:
#8 update each element in tuple list

In [ ]:
shr2001=(10,20,30,40)
shr2002= list(shr2001)
update_shr2002 = [item +100 for item in shr2002]
update_tuple=tuple(update_shr2002)
print(update_tuple)

In [ ]:
#9 multiply adjacent elements
shr2001 =(7,8,0,3,45,3,2,22)
my_result=tuple(i * j for i,j in 
                zip(shr2001,shr2001[1:]))
print (my_result)

In [ ]:
#10 join tuple if similar inital element
shr2001 =[(43,15),(66,98),(64,80),(14,9),(47,17)]
my_result=[]
for sub in shr2001:
    if my_result and my_result[-1][0] ==sub[0]:
        if my_result [-1].extend(sub[1:])
        else:
            my_result.append([ele for ele in sub])
            my_result = list(map(tuple,my_result))
            print(my_result)

In [ ]:
#11 all pair combinations of 2 tuples from itertools import product

In [ ]:
n = 2

my_result = [ele for ele in product(range(1,n + 1), repeat  =n)]
print(my_result)

In [ ]:
#12 remove  tuples of length r

In [ ]:
shr2001 = [(32,51), (22,13),(95,67,78),(70, ), (80,64,55,13,16)]
r=2
my_result =[ele for ele in shr2001 if len(ele) !=r]
print(my_result)

In [ ]:
#13 remove tuple from the list having every element as none

In [ ]:
shr2001 = [(2, none,12),(none, none, none), (22, 64), (121, 13), (none, ), (none,45, 6)]
my_result = [sub for sub in shr2001 if not all(elem == none for elem in sub)]
print(my_result)

In [ ]:
#14 sort a list of tuple by second items

In [ ]:
def tuple_sort(shr2001):
    return(sorted(shr2001, key = lambda x:
                  x[1]))
    shr2001 = [('bill', 11),('rick', 45),
    ('john', 89), ('liv',25)]
    print(tuple_sort(shr2001))

In [ ]:
#15 sort tuple by total digits

In [ ]:
def count_tuple_digits(row):
    return sum([len(str(element)) for element in row])
    shr2001 = [(32,14,65,723), (13,26),(12345,),(137,234,314)]
    shr2001.sort(key =count_tuple_digits)
    print(shr2001)

In [ ]:
#16 element frequency in tuple from collections import defaultdict

In [42]:
shr2001 = (4,5,4,5,6,6,5,5,4)
res = defaultdict(int)
for ele in shr2001:
    res[ele] +=1
    print(str(dict(res)))

NameError: name 'defaultdict' is not defined

In [39]:
#17 filter range length tuple
shr2001 = [(4, ),(5,6),(2,3,5),(5,6,8,2),(5,9)]
i, j =2,3
res = [sub for sub in shr2001 if len(sub) >=i and len(sub) <=j]
print(str(res))

[(5, 6), (2, 3, 5), (5, 9)]

In [44]:
#18 assign frequency to tuples
shr2001 = [(6, 5, 8),(2, 7),(6, 5, 8),(6, 5, 8),(2, 7)]
res = [(*key, val) for key, val in counter(shr2001).items()]
print(str(res))

NameError: name 'counter' is not defined

In [46]:
#19 records with value at k index
shr2001 = [(3, 1, 5), (1, 3, 6),(2, 5, 7),(5, 2, 8),(6, 3, 0)]
ele = 3
k = 1
res = []
for x, y, z in shr2001:
    if y ==ele:
        res.append((x, y, z))
        print(str(res))

[(1, 3, 6)]
[(1, 3, 6), (6, 3, 0)]

In [47]:
#20 test if tuple is distinct
shr2001 = (11, 14, 54,0, 58,41)
my_result = len(set(shr2001)) == len(shr2001)
print(my_result)

True

In [48]:
#21 python program to find tuples which have all elements divisible by r from a list of tuples
shr2001 = [(45, 90, 135),(71, 92, 26),(2, 67, 98)]
r = 5
my_result = [sub for sub in shr2001 if all(ele %  r == 0 for ele in sub)]
print(str(my_result))

[(45, 90, 135)]

In [49]:
#22 python program to find tuples with positive elements in list of  tuples
shr2001 = [(56, 43), (-31, 21, 23),(51, -65, 26),(24, 56)]
my_result = [sub for sub in shr2001 if all(elem >=0 for elem in sub)]
print(my_result)

[(56, 43), (24, 56)]

In [50]:
#23 count tuples occurence in list  of tuples 
alist = [[('mon', 'wed')],[('mon')],[('tue')],[('mon', 'wed')] ]
res = collections.defaultdict(int)
for elem in atlist:
    res[elem[0]]] +=1
    print(res)

SyntaxError: unmatched ']' (3637314099.py, line 5)

In [51]:
#24 removing duplicate from tuple
shr2001 = [(11, 14),(0, 78),(33, 11),(0, 78)]
my_unique_list = list(set([i for i in shr2001]))
print(my_unique_list)

[(33, 11), (11, 14), (0, 78)]

In [1]:
#25 remove duplicate lists in tuples (preserving order)
shr2001=([1,21,34],[11,0,89],[45,67,56],[11,0,89])
temp_val=set()
my_result=[elem for elm in shr2001 if not(tuple(elem) in temp_val or temp_val.add(tuple(elem)))]
print(my_result)

NameError: name 'elem' is not defined

In [3]:
 #26 extract digits from tuple list
shr2001 = [(67, 2),(34, 65)(212, 23),(17, 67),(18, )]
n=2
my_result=[sub for sub in shr2001 if all(len(str(ele)) == n for ele in sub)]
print(my_result)

<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
<>:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
C:\Users\Harshita\AppData\Local\Temp\ipykernel_2804\3512967582.py:2: SyntaxWarning: 'tuple' object is not callable; perhaps you missed a comma?
  shr2001 = [(67, 2),(34, 65)(212, 23),(17, 67),(18, )]

TypeError: 'tuple' object is not callable

In [4]:
#27 cross pairing in tuple list
shr2001=[('my', 'name'),('is','data'),('hello','come'),('goodwill','jill')]
shr2002=[('my', 'AAFT'),('IS', 'science'),('hello', 'here'),('a', 'b')]
shr2001.sort()
shr2002.sort()
my_result =[(a[1], b[1]) for a, b in zip(shr2001, shr2002)if a[0] ==b[0]]
print(my_result)

[('name', 'AAFT')]

In [5]:
#28. consecutive kth column difference in tuple list
shr2001=[(5, 4, 2),(1, 3, 4),(5, 7, 8),(7, 4, 3)]
k=1
res=[] 
for idx in range(0,len(shr2001) -1):
    res.append(abs(shr2001[idx][k] - shr2001[idix + 1][k]))
    print(str(res))

NameError: name 'idix' is not defined

In [7]:
#29 kth column product in tuple list
def prod_compute(my_val) :
    my_result = 1
    for elem in my_val:
        my_result *= elem
        return my_result
        shr2001=[(51, 62, 75),(18,39, 25),(81,19,99)]
        k=2
        my_result = prod_computer([sub[k] for sub in shr2001])
        print(my_result)

In [8]:
#30 flatten tuple of list to tuple 
shr2001 = ([5,6],[6,7,8,9],[3])
res = tuple(sum(shr2001,[]))
print(str(res))

(5, 6, 6, 7, 8, 9, 3)

In [9]:
#31 flatten tuples list to string
shr2001 = [(11, 14),(54, 56),(98, 0),(13, 76)]
my_result = str(shr2001).strip('[]')
print(my_result)

(11, 14), (54, 56), (98, 0), (13, 76)

In [11]:
#32 python program to sort a llist of tuples alphabetically
def sort_tuple_vals(shr2001):
    shr2001.sort(key = lambda x:x[0])
    return shr2001
    shr2001=[("hey",18),("jane",33),("will",56),("nysa",35),("may","pink")]
    print(sort_tuple_vals(shr2001))

In [12]:
#33 combination of sum with tuples in tuple list
shr2001 = [(67,45),(34,56),(99,123),(10,56)]
res =[(b1 + a1,b2 + a2) for (a1,a2),(b1,b2) in combinations (shr2001,2)]

NameError: name 'combinations' is not defined

In [ ]:
#34 customs sorting in list of tuples
def tuple_sort(shr2001):
    shr2001.sort(key = lambda x: x[1])
    return shr2001
    shr2001 = [('will',100),('john',67),('harold',86),('jane',35)]
    print(